<div class="content well well-lg">
  <div class="container">
    <div class="jumbotron">
      <h1>Currency exchange rates application</h1>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="description-text">
        Currency exchange rates application which uses REST API to fetch data. Users
        can check the available currencies and inquire about the locations they can be
        used in. Including viewing the latest exchange rates, users can also
        change the base EUR currency to other 30+ available currencies. Users
        can also view historical exchange rates.
        </div>

        <div>
          <div class="panel panel-success panels-section">
            <div class="panel-heading">Todo:</div>
            <div class="panel-body todo-panel-background">
              <p>- Improved application view</p>
              <!-- <p>- Compare multiple currencies</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Tech stack</div>
          <div class="panel-body techstack-panel-background">Angular 13, RxJS, Bootstrap, Angular Materials, Docker, REST API, NGX charts.</div>
        </div>
      </div>
    </div>
  </div>
</div>
