<div class="content well well-lg">
  <div class="container">
    <div class="jumbotron">
      <h1>Currency exchange rates application</h1>
</div>
      <div class="row">
        <div class="col-sm-8">
          This project is using REST API to communicate with backend of my another application, to display available currencies and exchange rates data. This is basic version, there are many things i still want to implement, inluding: 
          <div>
                      <ul class="list-group">
            <li class="list-group-item">- Display currency rates history as a chart</li>
            <li class="list-group-item">- Funcionality that lets user change base currency</li>
            <li class="list-group-item">- Letting user choose exchange date</li>
            <li class="list-group-item">- Overall prettier views</li>
            
          </ul>
          </div>

        </div>
        <div class="col-sm-4">
          <p>Angular 13, RxJS, Bootstrap, Angular Materials, Docker, REST API. </p> 
          <p></p>
        </div>
      </div>
    </div>
</div>
