<div class="content well well-lg">
  <div class="container">
    <div class="jumbotron">
      <h1>Currency exchange rates application</h1>
</div>
      <div class="row">
        <div class="col-sm-8">
          This project is using REST API backend of my another application to display available currencies and exchange rates data. 

        </div>
        <div class="col-sm-4">
          <p>Tech stack: Angular, Angular Material, Bootstrap. </p> 
          <p></p>
        </div>
      </div>
    </div>
</div>
