
    <div class="container">
        <div class="jumbotron">
          <h1>Exchanges menu</h1>
        </div>
        <div>
    <div class="items-container">
        <div class="well well-lg">Currencies - list of available currencies</div>
        <div class="well well-lg">Latest - check latest currency exchange rates</div>
        <div class="well well-lg">Historical - historical exchange rates of a single currency</div>
        <div class="well well-lg">Convert - convert exchange ratio of a currency to another one</div>
    </div>


