.header-container {
    justify-content: center;
}

.menu-name {
    font-size: 48px;

}

.menu-name-container {
    height: 100%;
    border-radius: 10px;
    margin: 60px;
    margin-left: 32px;
    background-color:antiquewhite transparent;
    border-radius: 5%;
    border: crimson;
}

.items-container {
    height: 100%;
    border-radius: 10px;
    margin: 60px;
    margin-left: 32px;
}