<!-- <div class="contaiener header-container">
    <div class="jumbotron" justify-content="center">
        <h1> Exchanges menu</h1>
    </div>


</div>
<div class="well well-lg">Currencies - list of available currencies</div>
<div class="well well-lg">Latest - check latest currency exchange rates</div> -->
<!-- <div class="contaiener"> -->
<div class="menu-name-container">
    <div class="menu-name">
        Exchanges menu
    </div>
    <div class="items-container">
        <div class="well well-lg">Currencies - list of available currencies</div>
        <div class="well well-lg">Latest - check latest currency exchange rates</div>
    </div>
</div>

