<div class="container">
  <div class="jumbotron">
    <h1>Latest exchange rates</h1>
  </div>
  <div *ngIf="dataIsBeeingFetched">
    <div class="data-fetch-info container">
      <app-spinning-wheel></app-spinning-wheel>
    </div>
  </div>
  <div *ngIf="exchange">
    <div></div>
    <div></div>
    <div class="row">
      <div class="col-sm-4">
        <app-currency-dropdown-list
          [date]="exchangeDate"
          [title]="currencyPickerTitle"
          (updateBaseCurrency)="updateBaseCurrency($event)"
        ></app-currency-dropdown-list>
      </div>
      <div class="col-sm-4">
        <app-currency-date-picker
          (updateExchangeDate)="updateExchangeDate($event)"
        ></app-currency-date-picker>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h1>Base currency: {{ exchange.base }}</h1>
      </div>
      <div class="col-sm-4">
        <h1>Exchange rates from {{ exchange.date }}</h1>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Currency name</th>
          <th>Rate</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let rate of exchange.rates | keyvalue; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ rate.key }}</td>
          <td>{{ rate.value | number : "1.0-4" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
