<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="currencies" class="sidenav-link">Currencies</a>
      <a mat-list-item routerLink="latest" class="sidenav-link">Latest</a>
      <a mat-list-item routerLink="chart" class="sidenav-link">Historical</a>

      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>