<app-json-data-import></app-json-data-import>
<!-- <div *ngIf="!(posts | async) === null">
  {{posts | async | json}}
</div>
<div *ngIf="posts">
  {{posts | async}}
</div> -->
<!-- {{currencyList | async | json}} -->
<!-- {{currencyList$.currencies | json}} -->
<!-- {{currencyList}} -->

<!-- {{currencyList[0]}}
{{currencyList[30]}}

<div *ngFor="let currency of currencyList | keyvalue">
          {{currency.key}}
          {{currency.value}}
</div> -->

<div *ngIf="currencyList">
    <div class="container">
    <div>
    <!-- <h1>Available currency list</h1>      -->
    <div class="panel panel-default">
          <div class="panel-heading">Available currency list</div>  
    </div>
   
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Currency ISO name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of currencyList | keyvalue;  let i = index;">
          <td>{{i + 1}}</td>
          <td>{{currency.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
