<div>
  <div class="container">
    <div class="jumbotron">
      <h1>Available currencies</h1>
    </div>
    <div>
      <div *ngIf="currencyList">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ISO name</th>
              <th>Full name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let currency of currencyList.currencies">
              <td>{{ currency.isoName }}</td>
              <td>{{ currency.fullName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container"></div>
</div>
