<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>
  <mat-toolbar color="primary">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="">CurrencyExchangeDP</a>
  </div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="primary">
    <a mat-tab-link class="navigation-tab-link" routerLink="homepage">Homepage</a>
    <a mat-tab-link class="navigation-tab-link" routerLink="exchange/mainpage">Exchanges</a>
  </nav>
</mat-toolbar>
<mat-tab-nav-panel #tabPanel>
  <div>
          <router-outlet></router-outlet>
  </div>


</mat-tab-nav-panel>


